.menu {
    position: relative;

}

.open-menu {
    width: 100px;
}

.open-menu:active+.menu-trigger {
    display: block;
}

.menu-trigger {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;

}

.menu-trigger:hover {
    display: block;
}

.menu-trigger:hover+.nav-menu {
    pointer-events: auto;
    opacity: 100%;
}

.nav-menu {
    opacity: 0;
    margin-left: 5px;
    position: absolute;
    pointer-events: none;
    background-color: gainsboro;
    margin-top: 0;
    border-radius: 3px;
    padding: 10px;
    width: 150px;

}

.nav-menu-item {
    list-style: none;
    width: 130px;
    text-align: left;
    border: #fff solid 2px;
    border-radius: 3px;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;

}

.nav-menu:hover {
    pointer-events: initial;
    opacity: 1;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-size: 30px;
}

input {
    border-radius: 3px;
    border: none;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: brown;
}

.corpo {
    color: #fff;
    background-color: rgb(190, 0, 0);
    padding: 15px;
    margin-bottom: 20px;
    width: 400px;
    height: 750px;
    border-radius: 20px 20px;
    text-align: center;
    box-shadow: 10px 10px 3px black;
}

.texto_exercicio {
    margin: 10px;
}

.texto_corpo {
    font-size: 15px;
    margin: 8px;
    width: 125px;

}

.exercicio {
    background-color: rgb(70, 70, 70);
    padding: 8px;
    border-radius: 10px;
}

.carga {
    width: 40px;
}

.series {
    width: 40px;
}

.repeticoes {
    width: 40px;
}

button {
    margin: 5px;
    padding: 5px;
    width: 160px;
    height: 30px;
    border-radius: 5px 5px;
    border: none;
}

footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}