* {
  margin: 0;
  padding: 0;
}

body {
  background: #353535;
}

.violao {
  display: flex;
  flex-direction: column;
  background: #be975b;
  width: 100%;
  height: 350px;
  margin-top: 50px;
  padding-top: 50px;
}

.nota-nome {
  text-align: center;
  font-size: 25px;
  position: absolute;
  color: #FFF;
  height: 350px;
  width: 50px;
  top: 0;
  left: 0;
  right: 100;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(Img/Notas.jpg);
  opacity: 0.8;
  z-index: 99;
}

li {
  margin-bottom: 30px;
}

.corda {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;


}

.corda::before {
  content: "";
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(50deg, rgba(0, 0, 0, .6), transparent 0.15em, transparent 0.2em), linear-gradient(180deg, rgba(0, 0, 0, .3) 10%, hsla(0, 0%, 100%, .25) 15%, hsla(0, 0%, 100%, .8) 30%, hsla(0, 0%, 100%, .25) 45%, rgba(0, 0, 0, .6) 90%);
  box-shadow: 76px 3px 18px #806233;
  position: absolute;
}

.nota-corda {
  content: "";
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(50deg, rgba(0, 0, 0, .6), transparent 0.15em, transparent 0.2em), linear-gradient(180deg, rgba(0, 0, 0, .3) 10%, hsla(0, 0%, 100%, .25) 15%, hsla(0, 0%, 100%, .8) 30%, hsla(0, 0%, 100%, .25) 45%, rgba(0, 0, 0, .6) 90%);
  box-shadow: 76px 3px 18px #806233;
  z-index: 90;
}

.nota-corda::before {
  background: repeating-linear-gradient(50deg, rgba(0, 0, 0, .6), transparent 0.15em, transparent 0.2em), linear-gradient(180deg, rgba(0, 0, 0, .3) 10%, hsla(0, 0%, 100%, .25) 15%, hsla(0, 0%, 100%, .8) 30%, hsla(0, 0%, 100%, .25) 45%, rgba(0, 0, 0, .6) 90%);
  box-shadow: 76px 3px 18px #806233;
  position: absolute;
  z-index: 99;
}

.traste1 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 90px;
  margin-bottom: 100px;
  z-index: 1;
}

.traste2 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 190px;
  margin-bottom: 100px;
  z-index: 1;
}

.traste3 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 290px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste4 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 390px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste5 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 490px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste6 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 590px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste7 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 690px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste8 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 790px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste9 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 890px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste10 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 990px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste11 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 1090px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste12 {
  position: absolute;
  width: 10px;
  height: 150px;
  margin-left: 1190px;
  margin-bottom: 100px;
  z-index: 1;
}
.traste-de-nota {
  width: 100%;
  height: 100%;
  background-color: #806233;
}



.vibracao {
  animation: vibracao 0.8s;
  content: "";
  width: 100%;
  height: 10px;
  background: repeating-linear-gradient(50deg, rgba(0, 0, 0, .6), transparent 0.15em, transparent 0.2em), linear-gradient(180deg, rgba(0, 0, 0, .3) 10%, hsla(0, 0%, 100%, .25) 15%, hsla(0, 0%, 100%, .8) 30%, hsla(0, 0%, 100%, .25) 45%, rgba(0, 0, 0, .6) 90%);
  box-shadow: 76px 3px 18px #806233;
}

@keyframes vibracao {
  0% {
    transform: translateY(0);
    transform: translateX(-10px);
    height: 5px;
  }

  10% {
    transform: translateY(-37px);
    transform: translateX(-1px);
    height: 10px;

  }

  20% {
    transform: translateY(18px);
    transform: translateX(-7px);
    height: 7px;
  }

  30% {
    transform: translateY(-15px);
    transform: translateX(-10px);
    height: 10px;
  }

  40% {
    transform: translateY(20px);
    transform: translateX(-8px);
    height: 13px;
  }

  50% {
    transform: translateY(-50px);
    transform: translateX(-12px);
    height: 12px;

  }

  51% {
    transform: translateY(-49px);
    transform: translateX(-11px);
    height: 11px;

  }

  53% {
    transform: translateY(-42px);

  }

  60% {
    transform: translateY(50px);
    transform: translateX(-1px);


  }

  70% {
    transform: translateY(-60px);

  }

  100% {
    transform: translateY(0);

  }
}