.cor1 {
    background-color: yellowgreen;
    color: darkred;
}

.cor2 {
    background-color: black;
    color: aquamarine;
}

.cor3 {
    background-color: cornflowerblue;
    color: yellowgreen;
}