* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: -13px;
}

a {
    color: #FFF;
}

.icon {
    width: 50px;
    margin-top: 20px;
    cursor: pointer;
}

#tela {
    border: 2px solid #000;
    background-color: #FFF;
    cursor: crosshair;
    width: 100%;

}

.menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 54%;
    padding: 20px;
    border-radius: 10px;
}

.colorArea {
    width: 120px;
    display: flex;

}

.color {
    flex: 1;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

.last-color {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    display: block;
    border: #000 5px solid;

}

.color.active {
    border: 5px solid #FFF;
}

.clear {
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}

@media (max-width=420px) {
    .menu {
        width: 100%;
    }
}